/* HomePage.css */

.home-page {
  text-align: center;
  padding: 20px;
  max-width: 100%;
  overflow-x: hidden;
}

.description {
  color: white; /* Set the text color to white */
  margin-bottom: 20px;
}

h1 {
  color: white;
  font-size: 28px;
}

.by-text {
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #333;
}

/* HomePage.css */

/* ... (previous styles) */

.options {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.option-button {
  background-color: #d3bb06;
  color: #000; /* Set the text color to black */
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

.option-button:hover {
  background-color: #b7177d;
}


/* Expandable Sections Styles */
.expandable-section {
  margin-top: 20px;
}

.toggle-btn {
  border: none;
  background: none;
  color: #d8de1b;
  font-size: 16px;
  cursor: pointer;
}

.toggle-btn:hover {
  text-decoration: underline;
}

.collapsed .toggle-btn::after {
  content: ' ▼'; /* Down arrow */
}

.expanded .toggle-btn::after {
  content: ' ▲'; /* Up arrow */
}

.expandable-content {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

/* Styling for other sections (Who Are We, Contact Us, Company Information) can be added here */
