/* HomePage.css */

.home-page-container {
  text-align: center;
  padding: 20px;
  max-width: 100%;
  overflow-x: hidden;
}

.home-page-description {
  color: white; /* Set the text color to white */
  margin-bottom: 20px;
}

.home-page h1 {
  color: white;
  font-size: 28px;
}

.home-page .by-text {
  color: #fff;
}

.home-page img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.home-page p {
  font-size: 18px;
  color: #333;
}

/* ... (previous styles) */

.home-page-options {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home-page-option-button {
  background-color: #d3bb06;
  color: #000; /* Set the text color to black */
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

.home-page-option-button:hover {
  background-color: #b7177d;
}

/* Expandable Sections Styles */
.home-page-expandable-section {
  margin-top: 20px;
}

.home-page-toggle-btn {
  border: none;
  background: none;
  color: #fff; /* Set the text color to white */
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease; /* Added transition for color change */
}

.home-page-toggle-btn:hover {
  color: #de1b89; /* Change color on hover to match ImageGenerator button */
  text-decoration: underline;
}

.collapsed .home-page-toggle-btn::after {
  content: ' ▼'; /* Down arrow */
}

.expanded .home-page-toggle-btn::after {
  content: ' ▲'; /* Up arrow */
}

.home-page-expandable-content {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: black; /* Set the text color to black */
}

/* Styling for other sections (Who Are We, Contact Us, Company Information) can be added here */
