/* ImageGenerator.css */

.ai-image-generator {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 8px;
    margin: 10px; /* Added margin */
}

.header {
    font-size: 45px;
    font-weight: 325;
    padding-bottom: 7px;
}

.header1 {
    font-size: 17px;
    font-weight: 300;
    padding-bottom: 10px;
}

.header1 span,
.header span {
    color: #de1b89;
    font-weight: 350;
}

.img-loading {
    display: flex;
    flex-direction: column;
}

.img-loading img {
    width: 200px;
}

.settings {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    width: 329px;
    height: 45px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #1f3540;
}

.search-input {
    width: 300px;
    height: 35px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    padding-left: 35px;
    margin-right: 35px;
}

.search-input::placeholder {
    color: #999;
}

.generate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 45px;
    font-size: 20px;
    border-radius: 50px;
    background: #de1b89;
    cursor: pointer;
}

.generate-btn:disabled {
    background-color: #ccc; /* Grey color */
    cursor: not-allowed; /* Change cursor on disabled state */
}

.generate-btn.loading {
    background-color: #ccc;
    cursor: not-allowed;
}

.loading-bar {
    width: 0px;
    height: 8px;
    background: #de1b89;
}

.loading-text {
    font-size: 18px;
}

.loading-bar-full {
    width: 100px;
    height: 8px;
    background: #de1b89;
    transition: 15s;
}

.display-none {
    display: none;
}

.toggle-intro-container {
    margin-top: 10px;
}

.toggle-intro-btn {
    cursor: pointer;
    background: #fff;
    border: 1px solid #007bff;
    color: #007bff;
    font-size: 14px;
    padding: 1px 2px; /* Adjusted padding for a smaller button */
    border-radius: 4px; /* Added border-radius for rounded corners */
    transition: background 0.3s ease;
}

.toggle-intro-btn:hover {
    background: #007bff;
    color: #fff;
}

.toggle-logs-btn {
    cursor: pointer;
    background: #fff;
    border: 1px solid #007bff;
    color: #007bff;
    font-size: 14px;
    padding: 1px 2px; /* Adjusted padding for a smaller button */
    border-radius: 4px; /* Added border-radius for rounded corners */
    transition: background 0.3s ease;
}

.toggle-logs-btn:hover {
    background: #007bff;
    color: #fff;
}

#logs-container {
    max-height: 300px;
    overflow-y: auto;
    white-space: pre-wrap;
    overflow-x: hidden; /* Add this line to hide horizontal scroll */
}

.logs ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logs li {
    margin-bottom: 5px;
    word-wrap: break-word; /* Add this line to break long words and prevent overflow */
}

